body{
    font-family: "Jost";
    background-color: black;
    color: white;
}

.main{
    text-align: center;
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;
}

.icons{
    justify-content: space-evenly;
    text-align: center;
    margin-left:25px; 
    margin-right:25px;
}

.main p{
    font-size:1.25rem;
}

.social-icon-space{
    margin-right:20px;
    text-decoration: none;
}

a{
    color:#568154;
    text-decoration: none;
    transition: color .3s ease;
    transition: filter .3s ease;
}

a:hover{
    color:#082623;
    filter: drop-shadow(0px 0px 3px #90ffa4);
    
}

.error-icon{
    color:#082623;
    filter: drop-shadow(0px 0px 10px #90ffa4);
}

.buttons{
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.custom-primary{
    background-color:#ABBF7E;
    border-color: #ABBF7E;
}

.custom-primary:hover{
    background-color: #568154;
    border-color: #568154;
}